<div class="about_us">
    {{!-- home image  --}}
    <img id ='home_img' src ="image/home.png">
    {{!-- about us  --}}
    <h1>About Us</h1>
    <h2>Hi!</h2>
    <h3>Welcome to Commute Safer!</h3>
    <h4>We pay close attention on the safety of commuters. Hence we developed three functions to help you. </h4>
    <h4>You can see all unsafe places based on pins users put on the map. You can also put on your own unsafe pins on map to make Melbourne safer. We also have route planning on our map so definitely have a try! </h4>
    <h4>Despite that, safety tips are provided by various users. You can add or edit tips for other users if information are out of date.</h4>
    <h6>Have fun with this website and don't forget to register!</h6>
</div>
{{!-- pin / register / tip image and link --}}
<div id="wrap_div">
    <div class = "wrap">
        <div class = "card" id="wrap1">
            <img src ="image/pin.jpg" alt = "card" style = "width:100%">
            <div class = "container">
                <a href="/pin/getPins"><h3><b>Safety Pins</b></h3>
                
            </div>
        </div>
    </div>
    <div class = "wrap" id="wrap2">
        <div class = "card">
            <img src ="image/register.png" alt = "card" style = "width:100%">
            <div class = "container">
                <a href="/user/register"><h3><b>Register</b></h3>
                
            </div>
        </div>
    </div>   
    <div class = "wrap" id="wrap3">
        <div class = "card">
            <img src ="image/tip.jpg" alt = "card" style = "width:100%">
            <div class = "container">
                <a href="/tip/list"><h3><b>Safety Tips</b></h3>
                
            </div>
        </div>
    </div> 
</div>
{{!-- images that can slide  --}}
<div id="img_slide">
    <div class="left" style="width:25%; float:left; display:inline-block">
                <div class='route'>
                    <div id="images">
                        <img  id="image1"  src ="image/无边框pin.png" alt = "card">
                        <img  id="image2" src ="image/R1.png" alt = "card" >
                        <img  id="image3" src ="image/R2.png" alt = "card">
                    </div>

                    <div id="slider">
                        <a href="#image1">1</a>
                        <a href="#image2">2</a>
                        <a href="#image3">3</a>
                    </div>
                </div>
            
    </div>

    <div class="right" style="width:25%;  float:left; display:inline-block">
            
                <div class='tips'>

                    <div id="images">
                        <img  id="image7"  src ="image/无边框tips.png" alt = "card">
                        <img  id="image8" src ="image/t1.png" alt = "card">
                    </div>

                    <div id="slider2">
                        <a href="#image7">1</a>
                        <a href="#image8">2</a>
                    </div>

                </div>
             
    </div>
    <img style="width:50%; height:450px; border-radius:5px; float:left; display:inline-block" src ="image/user3.jpg" alt = "card" style = "width:100%">
</div>
<div id="footer">
    <p>Contact us: biyaoc@student.unimelb.edu.au</p>
    <p>Thank you for your visit!</p>
</div>






