<h1>Login</h1>
<div>
{{!-- enter user information --}}
<form action="/user/login" method="POST">
    <div class="input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" >
    </div>
     <div class="input">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" >
    </div>
    <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" >
    </div>
   <button id="otherButton" style="color:white" type="submit">Login!</button>
   
</form>
</div>
<img id="user_img" alt="people" src ="/image/tip3.png">
