
<h1>incorrect information! email used or password invalid </h1>
<section class="insert">
    {{!-- enter user information --}}
    <form action="/user/register" method="post">

        <div class="input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" >
        </div>

        <div class="input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" >
        </div>

        <div class="input">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="at lease 1 Capital letter and 5 number  Length longer than 8">
        </div>

        <button id="otherButton" type="submit" style="color:white"  >Register!</button>

        <div>
        <a href="/user/login">
            Log in now
        </a>
        </div>

    </form>

    <div>
    <a href="/">back to homepage</a>
    </div>

</section>

<img id="user_img" alt="people" src ="/image/tip3.png">